<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyles.css' %}">
    <link rel="icon" href="{% static 'img/icons8-huella-de-gato-16.png'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title>Login</title>
</head>
<body>
    {% load crispy_forms_tags %}
    <div class="container m-auto p-5">
        <div class="row m-auto">
            <div class="col-12 col-md-6 offset-md-3 m-auto">
                <div class="card">
                    <div class="card-body">
                        <h2>Registro Usuario</h2>
                        <hr>
                        <form action="#" method="post">
                            {% csrf_token %}
                            {{ form | crispy}}
                            <a class="btn btn-secondary mt-3" href="{% url 'inicio' %}">Ir a Inicio</a>
                            <input type="submit" class="btn btn-dark mt-3" value="Registrar" style="float:right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>